// Import Global
@import "./reset.scss";
@import "./variables.scss";

// Import Modules
@import "../Components/Header/Header.scss";
@import "../Components/Footer/Footer.scss";


// Import Pages
@import "../Pages/Home.scss";

.loading {
    text-align: center;
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: none!important;
  }

  .loading__inner {
    padding: 10px;
    width: 100%;
    min-width: 100%;
  }

// delete
// .scrollArea *:nth-child(odd) {
//     background-color: #ff000066;
// }

// .scrollArea *:nth-child(even) {
//     background-color: #00ff0066;
// }


.scrollArea__inner{
  display: flex;
  align-items: center;
  justify-content: center;
}

.scrollArea__textWrapper{
  background: $color-dark-2-transparent;
  color: $color-light-1;
  height: 100px;
  display: flex;
  align-items: center;
  padding: 32px;
}